.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  object-fit: contain;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_search {
  display: flex;
  flex: 1;
}
.header_searchInput {
  margin-left: 20px;
  height: 20px;
  padding: 5px;
  border: none;
  width: 100%;
}
.header_searchIcon {
  padding: 2px;
  height: 30px !important;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_link {
  color: white !important;
  text-decoration: none;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
