.container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 25vh;
}
.button {
  margin-top: 20px;
}
.signup {
  text-align: center;
}
.signin {
  text-align: center;
}
.textfield {
  margin-top: 10px;
  margin-bottom: 10px;
}
