.home_row {
  display: flex;
  z-index: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.pagination {
  display: inline-flex;
  flex: 1;
  align-items: center;
  margin-left: 47%;
}
.pagination a {
  color: red;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: black;
  color: white;
}
.drinks {
  margin-left: 20px;
}
.pastries {
  margin-left: 20px;
}
.header_title {
  margin-left: 20px;
  margin-bottom: 20px;
}
